body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: black;
  background-image: url("stars.jpg");
  background-size: cover;
}

:root {
  --translateAmount: -50%;
}
@keyframes rotate {
  0% {transform: rotate(0deg) translate(var(--translateAmount), var(--translateAmount));}
  25% {transform: rotate(90deg) translate(var(--translateAmount), var(--translateAmount));}
  50% {transform: rotate(180deg) translate(var(--translateAmount), var(--translateAmount));}
  75% {transform: rotate(270deg) translate(var(--translateAmount), var(--translateAmount));}
  100% {transform: rotate(360deg) translate(var(--translateAmount), var(--translateAmount));}
}
/*
body {
  overflow: hidden;
}*/
/*#stars {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 120vw;
  width: 120vw;
  animation-name: rotate;
  animation-duration: 2000s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 0 0;
}*/
/*#stars {
  position: fixed;
  left: -35%;
  top: -10%;
  height: 110vw;
  z-index: 100;
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}*/

#fullBoard {
  background-color: lightblue;
  border: 3px solid black;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: max(auto, 550px);
  width: 550px;
  padding-top: 30px;
  padding-left: 30px;
  padding: 30px;
  border-radius: 20px;
}

ol, ul {
  padding-left: 30px; }

/*#boardControls {
  position:fixed;
  left: 450px;} */
#boardControls {
  float: right;
  height: 500px;
}

.controlDesc {
  display: inline-block;
  margin-bottom: 5px;
}

#boardControls > button, select {
  margin-bottom: 25px;
  border-radius: 5px;
  background-color: orange;
}

#torusBoardButton {
  margin-bottom: 0px;
}

#helperBoardButton {
  position: relative;
  top: -25px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table; }

.board-row-greyed .square {
  border-color: gray;
  color: gray; }

.status {
  margin-bottom: 10px; }

.square {
  /* background: #fff; */
  background: rgb(225, 225, 225);
  border: 2px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  color: black;}

.square:focus {
  outline: none; }

.kbd-navigation .square:focus {
  background: #ddd; }

.game {
  display: flex;
  flex-direction: row; }

.game-info {
  margin-left: 20px; }
